



/* ----Colors ---- */
.font-col-1 {
    color:#f7f7f7; 
   
} 

/* ------Header------- */
header{
    width: 100%;
    height: 1400px;
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* text-decoration: none; */
} 
.col-log{
    text-decoration: none;
    color: #fefefe;
} 
.log{
    color: #28bbea;
} 

.alignement{
    height: 100%;
}  

.sizing{
    height: 400px;
} 
/* ---main---- */

.overlap-0{
    z-index: 0;
    position: relative;
} 
.overlap-1{
    position: absolute;
    z-index: 1;
} 
.mt-{
    margin-top: -9px;
} 
.kpi{
    /* width: 100%; */
    height: 800px;
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

.key-indicator{
width: 100%;
} 

.sizing-2{
    height: 50px;;
} 